* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a,
input,
button {
  font-family: "Montserrat", sans-serif;
}

input::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
}

input::placeholder {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #202027;
}

main {
  background-color: #202027;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.button {
  background: transparent;
  border: none;
  background-color: #202027;
  color: #fff;
  padding: 16px 65px;
  border-radius: 65px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
}

.title {
  color: #fff;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
}

.star__right-up {
  position: absolute;
  background-image: url("../images/right-up_el.png");
  background-repeat: no-repeat;
  right: 0px;
  width: 588px;
  height: 712px;
}
.star__big {
  position: absolute;
  background-image: url("../images/star-big.png");
  background-repeat: no-repeat;
  width: 83px;
  height: 83px;
  top: 568px;
  right: 344px;
}
.star__midlle-green {
  position: absolute;
  background-image: url("../images/star-middle-green.png");
  background-repeat: no-repeat;
  width: 57px;
  height: 57px;
  left: 63px;
  top: 94px;
}
.star__small-green {
  position: absolute;
  background-image: url("../images/Star-small-green.png");
  background-repeat: no-repeat;
  width: 37px;
  height: 37px;
  top: 538px;
  right: 455px;
}
.star__small-transparent {
  position: absolute;
  background-image: url("../images/Star-small-transparent.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  top: 69px;
  left: 156px;
}

.header {
  position: relative;
  background-color: #e1ff8f;
}
.header__content {
  padding-top: 196px;
  padding-left: 120px;
}
.header__title {
  margin-bottom: 24px;
  max-width: 775px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 64px;
  line-height: 122%;
  letter-spacing: 0px;
}
.header__text {
  margin-bottom: 48px;
  max-width: 720px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
}
.header__button {
  margin-bottom: 156px;
}

.line__content {
  padding-left: 20px;
  width: 100vw;
  height: 90px;
  overflow: auto;
  background-color: #bcec30;
  display: flex;
  align-items: center;
  gap: 51px;
}
.line__text {
  white-space: nowrap;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 4%;
}
.line__star {
  width: 35px;
  height: 35px;
}

.title_about {
  padding-top: 100px;
  margin-bottom: 32px;
}

.about {
  position: relative;
}
.about__text {
  max-width: 700px;
  color: #fff;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 72px;
}
.about__games {
  margin-bottom: 96px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.about__game {
  max-width: 378px;
  background-color: #fff;
  border-radius: 32px;
}
.about__game-info {
  padding: 35px 32px 36px 44px;
  width: 378px;
}
.about__game-number {
  display: inline;
  border-radius: 52px;
  background: #F7F7F7;
  padding: 8px 10px 16px 16px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0px;
}
.about__game-title {
  padding-top: 30px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
}
.about__star {
  position: absolute;
  background-image: url("../images/about-star.png");
  background-repeat: no-repeat;
  width: 464px;
  height: 584px;
  right: 0;
  top: 100px;
}

.title_mini-games {
  color: #fff;
}

.footer {
  min-height: 150px;
  background-color: #BDED35;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #000;
}/*# sourceMappingURL=style.css.map */